* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    height: 100vh;
    width: 100%;
    background: rgba(52, 115, 85, 1);
    color: azure;
    padding: 5rem;
    font-family: 'Roboto', sans-serif;
}

#button_box {
    text-align: center;
    font-weight: 300;
    font-size: 30px;
    text-transform: uppercase;
}

#change_week {
    margin: 5px;
    font-family: inherit;
    color: inherit;
    font-size: 25px;
    font-weight: 300;
    background: #223240;
    padding: 5px;
    border-radius: 10px;
    border-color: #223240;
    cursor: pointer;
    transition: background-color 1s ease;
    text-transform: uppercase;
}
#change_week:hover {
    background: none;
}

#lang_img {
    max-height: 40px;
}

.cell {
    position: relative;
}
.cwiczenia,
.komputerowe,
.wyklad,
.laby,
.angielski {
    cursor: pointer;
}

.tooltip {
    position: absolute;
    left: 50%;
    top: -50%;
    transform: translateX(-50%);
    background-color: #347355;
    color: azure;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.cell:hover .tooltip {
    top: -40px;
    visibility: visible;
    opacity: 1;
}

.icon_img {
    height: 20px;
}

.cwiczenia:hover,
.komputerowe:hover,
.wyklad:hover,
.laby:hover,
.angielski:hover {
    background-color: #60bf81;
}

table {
    margin: 40px auto 0 auto;
}

th {
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 20px;
    padding: 5px;
}

tr {
    background-color: #223240;
}

td {
    padding: 5px 30px;
    text-align: center;
}

.cell_desc {
    background-color: rgb(89, 133, 45);
    font-weight: 400;
}

.wyklad {
    background-color: #ff5a33;
}
.laby {
    background-color: #2948ad;
}
.komputerowe {
    background-color: #ed8b16;
}
.cwiczenia {
    background-color: #c2bb00;
}
.angielski {
    background-color: #ee101b;
}

p {
    text-align: center;
}
